.link-menu.link-menu__projects {
  margin-left: 61px;
  .sm-block ({
    margin-left: 37px;;
  });
}

.projects__main-desc, .breadcrumbs {
  margin-left: 140px;
  .md-block ({
    margin-left: 40px;
  });
}

.box-1.box-1__projects {
  flex-basis: 690px;
}
.box-2.box-2__projects {
  flex-basis: 600px;
}
.wrap-offer.wrapp-offer__projects {
  max-width: 690px;
  width: 100%;
  .md-block ({
    margin-left: 40px;
  });
}

.wrapp-offer__projects h1 {
  max-width: 600px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
    .xl-block ({
      width: 88%;
      font-size: 41px;
    });
    .md-block ({
      width: 77%;
    });

}

.box-1.box-1__projects .breadcrumbs {
  margin-top: 48px;
  .sm-block ({
    margin-top: 28px;
  });
}
.projects__main-desc {
  .xs-block ({
    display: none;
  });
}
.projects__main-desc p {
  color: @black;
  margin-top: 16px;
}

.box-2__projects .zinkova-foto__project {
  width: 80%;
  height: 550px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  margin-left: auto;
    .md-block ({
      width: 95%;
    });
}

.tzfoto__project-for-xs {
  display: none;
  .xs-block ({
    display: block;
    margin-left: 40px;
    width: 70%;
  });
}

// All project prew
.wrapp-project.wrapp-project__all-project h2 {
  margin-bottom: 0;
}
.wrapp-project.wrapp-project__all-project {
  margin-top: 0;
  .xs-block ({
    margin-top: 80px;
  });
}

.box2-wrapp.box2-wrapp__all-project {
  height: 640px;
}

// Filter
.wrapp-project.wrapp-project__all-project .filter.filter-hedder {
  margin-left: 529px;
  .x1440-block ({
    margin-left: 436px;
  });
  .xl1080-block ({
    margin-left: 391px;
  });
  .md-block ({
    margin-left: 297px;
  });
  .sm-block ({
    margin-left: 0;
    margin-top: 40px;
  });
}
.filter {
  display: flex;
  margin-bottom: 54px;
  .xs-block ({
    flex-direction: column;
  });
}

.filter-wrap {
  display: flex;
  margin-right: 40px;
  cursor: pointer;
  align-items: center;
  opacity: 1;
  .xs-block ({
    margin-bottom: 15px;
  });
}
.filter-wrap:hover {
  opacity: 0.5;
  transition: opacity ease-in-out 0.5s;
}

.filter-wrap img{
  margin-right: 15px;
}