.shadow.shadow-one-art header {
  display: flex;
}

.box-1-one-art {
  flex: 1 1 10%;
  min-width: 82px;
  padding-right: 15px;
  .sm-block ({
    flex: 1 1 5%;
    padding-right: 0;
    min-width: 20px;
  });
}

.box-2-one-art {
  flex: 1 1 46%;
  min-width: 200px;
  padding-right: 20px;
  padding-bottom: 65px;
  .sm-block ({
    flex: 1 1 44%;
    padding-right: 0;
  });
  .xs-block ({
    flex: 1 1 90%;
  });
}

.box-3-one-art {
  flex: 1 1 38%;
  min-width: 200px;
  padding-left: 12%;
  .sm-block ({
    flex: 1 1 46%;
    padding-right: 4px;
  });
  .xs-block ({
    display: none;
  });
}

.box-4-one-art {
  flex: 1 1 6%;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .sm-block ({
    flex: 1 1 5%;
    min-width: 40px;
  });
}


// BOX 1
.box-2-one-art .breadcrumbs {
  margin-left: 0;
  margin-top: 40px;
  .sm-block ({
    flex-wrap: wrap;
  });
  .xs-block ({
    margin-top: 80px;
  });
  .sm-block ({
    margin-top: 80px;
  });
}

.box-2-one-art a {
   .sm-block ({
     margin-bottom: 8px;
  });
}
.box-2-one-art h1 {
  width: 80%;
  margin-top: 70px;
  margin-bottom: 30px;
  .x1440-block ({
    width: 100%;
    margin-top: 60px;
  });
}

.box-2-one-art p {
  width: 80%;
  margin-top: 14px;
  .x1440-block ({
    width: 90%;
  });
  .sm-block ({
    width: 100%;
  });
}
// BOX 2
.box-2-one-art .link-menu {
  margin-left: 0;
  margin-top: 36px;
  margin-bottom: 50px;

}
.article-tz-xxl {
  .xs-block ({
    margin-top: 40px;
  });
}
// BOX 3
.box-3-one-art  {
  //padding-top: 80px;
}

.box-3-one-art .art-main-blog  {
  height: 497px;
  margin-left: 0;
}


// BOX 4

.box-4-one-art .burger {
  .xs-block ({
    margin-right: 25px;
  });
}

.box-4-one-art .social {
  .xs-block ({
    margin-right: 20px;
  });
}


/////////////// COL 1 COL 2
.article-content {
  margin-top: 20px;
  margin-bottom: 130px;
  .xs-block ({
    margin-top: 0;
  });

}

.article-content h2 {
  margin-top: 20px;
  .md-block ({
    width: 60%;
  });
  .sm-block ({
    width: 100%;
  });
}
.article-content-container {
  display: flex;
  .sm-block ({
    flex-direction: column;
  });
}
.col-1-art {
  flex: 1 1 46%;
  min-width: 200px;
}
.col-2-art {
  flex: 1 1 38%;
  min-width: 200px;
  margin-left: auto;
  .sm-block ({
    margin-left: 0;
  });
}

.article-content-container h3 {
  font-size: 18px;
  margin-top: 38px;
  margin-bottom: 24px;
}

.col-1-art p {
  margin-bottom: 15px;
  line-height: 145.9%;
}
.resemble-articles a {
  color: @black;
  display: flex;
}
.resemble-articles {
  margin-bottom: 46px;
}

.img-resemble-articles {
  flex: 1 1 40%;
  background-position: center;
  background-size: cover;
  max-width: 179px;
  width: 100%;
  height: 138px;
  .x1440-block ({
    height: 122px;
  });
  .md-block ({
    height: 78px;
  });
  .sm-block ({
    height: 116px;
  });
  .xs-block ({
    height: 67px;
  });
}

.resemble-articles-desc {
  padding-left: 30px;
  flex: 1 1 60%;
  .md-block ({
    padding-left: 20px;
  });
}
.resemble-articles-desc h5{
  font-size: 18px;
  line-height: 21px;
}
.resemble-articles-desc p{
  width: 80%;
  .x1440-block ({
    width: 100%;
  });
}

.box-for-data {
  margin: 7px 0;
  display: flex;
  align-items: center;
}
.box-for-data .time {
  margin-left: 9px;
  margin-bottom: 0;
}

.col-2-art .resemle-link  {
  color: @red;
}

.resemble-articles-desc  .cube-active {
  margin-top: 12px;
}

.resemle-title {
  margin-top: 68px;
}
.img-resemble-articles__project {
  flex: 1 1 35%;
  height: 100px;
  .x1440-block ({
    height: 100px;
  });
  .xl-block ({
    height: 96px;
  });
  .md-block ({
    height: 64px;
  });
}
.resemble-articles-desc__project {
  flex: 1 1 65%;
  .md-block ({
    padding-left: 20px;
  });
}













