.footer-wrapper {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
  background: @black;
  display: flex;
  padding-top: 70px;
  padding-left: 140px;
  border-bottom: 1px solid #3F3F3F;
    .xl1080-block ({
      padding-left: 40px;
    });
    .sm-block ({
      flex-direction: column;
      padding-bottom: 40px;
    });
}

.footer-box {
  flex:1 1 calc(~"25% - 10px");
  min-width: 100px;
  min-height: 100px;
  margin-right: 10px;
  .sm-block ({
    margin-bottom: 40px;
  });
}

.footer-box a {
  color: white;
  font-family: @fontRegular;
  font-size: 14px;
}

.footer-box:last-child {
  margin-right: 0;
}
.logo-footer {
  margin-bottom: 46px;
}

.footer-tel {
  display: block;
  margin-bottom: 28px;
}

.social-footer-link img {
  margin-right: 20px;
}

.footer-box-2 a {
  display: block;
  margin-bottom: 23px;
}
.add-service-footer-title h5 {
  color: white;
  font-family: @fontRegular;
  font-size: 14px;
}
.add-service-foorter li{
  margin-bottom: 23px;
}

.add-service-foorter li a {
  color: @grey_no_active_item;
}

.footer-blog {
  display: flex;
  justify-content: start;
  color: white;
  margin-bottom: 30px;
  .sm-block ({
    margin-bottom: 15px;
  });
}

.footer-blog-prew {
  margin-right: 10px;

}
.footer-title-box h5 {
  font-family: @fontRegular;
  font-size: 14px;
}

.footer-title-box span {
  font-family: @fontRegular;
  font-size: 14px;
  color: @grey_no_active_item;
}


.footer-additional {
  display: flex;
  justify-content: space-between;
  font-family: @fontRegular;
  font-size: 14px;
  color: @grey_no_active_item;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background: @black;
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 20px;
  padding-bottom: 15px;
    .xl1080-block ({
      padding-left: 40px;
    });
    .sm-block ({
      flex-direction: column;
    });
}


.footer-additional a {
  color: @grey_no_active_item;
}


























