.modal-window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}
.close {
  position: absolute;
  right: 0;
  margin: 20px;
  cursor: pointer;
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}
.close:hover {
  position: absolute;
  right: 0;
  margin: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity ease-in-out 0.5s;
}
.blackout {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.arrow-left-modal {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 5%;
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
  cursor: pointer;
}
.arrow-left-modal:hover {
  opacity: 0.3;
  transition: opacity ease-in-out 0.5s;
}
.arrow-right-modal img {
  display: block;
  margin-left: auto;
}
.arrow-right-modal {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 5%;
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
  cursor: pointer;
}
.arrow-right-modal:hover {
  opacity: 0.3;
  transition: opacity ease-in-out 0.5s;
}
.picture {
  width: 400px;
  height: 500px;
  background-size: cover;
  margin-top: auto;
  margin-bottom: auto;
    .sm-block ({
      width: 300px;
      height: 400px;
    });
    .xs-block ({
      width: 230px;
      height: 330px;
    });
}
