.wrapp-project {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;

  background: white;
}
.wrapp-project a {
  color: @black;
}

.wrapp-project .title-box {
  margin-left: 140px;
  .md-block ({
    margin-left: 40px;
  });
}
.projects-all-wrapper {
  display: flex;
  .xs-block ({
    flex-direction: column;
  });
}
.project-box1 {
  margin-right: 70px;
  margin-left: 140px;
  .md-block ({
    margin-left: 40px;
    margin-right: 25px;
  });
  .xs-block ({
    margin-bottom: 30px;
  });
}
.img-project-main {
  width: 459px;
  height: 575px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-bottom: 19px;
    .x1440-block ({
      width: 366px;
    });
    .xl1080-block ({
      width: 322px;
    });
    .md-block ({
      width: 272px;
    });
    .sm-block ({
      height: 450px;
    });
    .xs-block ({
      width: 279px;
      height: 194px;
    });
}

.project-main-title {
  margin-top: 20px;
}

.project-box-title__main {
  display: flex;
  align-items: center;
}
.project-box-title.project-box-title__main h5{
  margin-top: 0;
  margin-bottom: 0;
  max-width: 300px;
}
.project-box2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.common-project-small-wrapp {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 0 auto;
  .xs-block ({
    flex-direction: column;
    margin: 0;
    margin-left: 40px;
  });
}
.wrapper-project-small {
  flex:1 1 calc(~"50% - 50px");
  margin-right: 25px;
  box-sizing:border-box;
  min-width: 100px;
  margin-bottom: 40px;
    .sm-block ({
      margin-bottom: 30px;
    });
    .xs-block ({
      width: 279px;
      height: 194px;
    });
}
.img-project-small {
  background-size: cover;
  background-position: center;
  max-width: 280px;
  height: 194px;
  cursor: pointer;
  margin-bottom: 15px;
    .sm-block ({
      height: 140px;
    });
    .xs-block ({
      width: 279px;
      height: 194px;
    });
}
.project-box-title h5{
  margin-left: 15px;
  margin-top: -4px;
}
.navigation-bar {
  margin-top: 30px;
  display: flex;
  align-items: center;
    .sm-block ({
    flex-direction: column;
    align-items: start;
    margin-top: 0;
    });
  .xs-block ({
    margin-left: 40px;
  });
}
.navigation {
  width: 300px;
  height: 100px;
  align-self: center;
}
.btn.btn-border {
  align-self: flex-end;
  background: transparent;
  border: 1px solid @red;
  color: @red;
  margin-right: 25px;
  margin-left: auto;
  width: 161px;
  height: 54px;
  font-size: 14px;
  font-family: @fontBold ;
    .sm-block ({
      margin-left: 0;
      align-self: start;
      margin-top: 60px;
    });
}
.btn.btn-border:hover {
  color: white;
  background: @red;
  border: 1px solid @red;
  transition: all ease-in-out 0.6s;
}

.pagination {
  display: flex;
  align-items: center;
}
.pagination .current {
  width: 43px;
  height: 43px;
  display: block;
  background-color: @red;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  margin-right: 10px;
  font-family: @fontBlack;
  font-size: 14px;
}

.pagination a {
  display: block;
  text-align: center;
  box-sizing: border-box;
  margin-right: 10px;
  font-family: @fontRegular;
  font-size: 14px;
  color: @grey_no_active_item;
}

.pag-arrow-left {
  margin-right: 32px;
  .md-block ({
    margin-right: 9px;
  });
}

.pag-arrow-right {
  margin-left: 40px;
  .md-block ({
    margin-left: 13px;
  });
}